@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$font: 'Fredoka One', cursive;
$xl_font: 64px;
$l_font: 48px;
$m_font: 36px;
$s_font: 24px;
$xs_font: 16px;

$bg_color: #403d39;
$bg_color2: #252422;
$bg_color3: #ccc5b9;
$text_color: #fffcf2;
$text_color2: #ccc5b9;
$red: #eb5e28;

$outline: 1px solid $red;