@use '@/styles/theme';

.main {
    --nav_h: 10vh;
    min-height: 100vh;
    display: grid;

    // change the nav height per the changes in the 
    // aspect ratio
    @media (max-aspect-ratio: 1/1) {
        --nav_h: 15vh;
    }
    grid-template-rows: var(--nav_h) calc(100vh - var(--nav_h) - 10vh) 10vh;
    grid-template-columns: 1;
}

.nav {
    // text align
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: theme.$bg_color2;
    // get font size between the large one and  $nav_h - 2vh,
    // though the prefered size is extra large
    font-size: clamp(theme.$l_font, theme.$xl_font, calc(var(--nav_h) - 2vh));
    
}

.createLobby {
    background-color: theme.$red;
    color: theme.$text_color;
    height: auto;
    margin: auto;
    // aspect-ratio: 1/1;
    width: 15vmax;
    max-width: 200px;
    aspect-ratio: 3/1;
    text-align: center;
    border: 1px solid theme.$text_color;
    padding: 0px;
    font-family: theme.$font;
    // font-size: clamp(theme.$s_font, theme.$m_font, 5vh);
}
.createLobby > * {
    margin: 0px;
}

.createLobby:hover {
    cursor: pointer;
    filter:grayscale(.5);
}