@use '@/styles/theme';

.creator {
    width: 50%;
    max-width: 500px;
    aspect-ratio: 3/4;
    background-color: theme.$green;
    filter: drop-shadow(1px 1px 4px theme.$bg_color2);
    @media (max-aspect-ratio: 1/1) {
        width: 90%;
    }
}

.creatorForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5vmin;
}