@use '@/styles/theme';

.lobbies {
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    background-color: theme.$bg_color3;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
    font-size: clamp(theme.$s_font, theme.$m_font, 2vmin);
    border: theme.$outline;
    border-top: none;
}

.lobby {
    border-bottom: 1px solid theme.$bg_color;
    padding: 1vmin;
    display: flex;
    gap: 2vmin;
}

.lobby > p {
    margin: 0%;
}

.lobby:hover {
    cursor: pointer;
    background-color: theme.$bg_color;
}

.notFound {
    margin: auto;
    text-align: center;
}